@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

.header {
    display: flex;
    padding: 20px;
    background-color: #cbcbcb;
}

.title {
    font-size: 18px;
    font-weight: bold;
    align-self: center;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'poppins';
}

.nav {
    display: flex;
    justify-content: flex-end;
    width: 25%;
    align-self: center;
}

.pages {
    margin: 0 15px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

li {
    display: inline-block;

}

body {
    margin: 50px;
}

.explore-container {
    display: flex;
    gap: 15px;
    padding: 20px 0px;
}

.explore-box,
.building-box {
    border: 1px solid #999;
    background-color: #fff;
}

.box-header {
    background-color: #eee;
    padding: 8px;
    font-weight: bold;
    border-bottom: 1px solid #999;
    text-align: center;
}

.explore-box {
    flex: 3;
}

.map-content {
    position: relative;
    padding: 10px;
}

.map-content img {
    width: 100%;
    height: auto;
    display: block;
}

.building-box {
    flex: 1;
}

.building-box ul {
    margin: 0;
    padding: 0;
}

.building-box li {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.lost-found-container {
    display: flex;
    gap: 20px;
    padding: 20px 0px;
}

.lost-items {
    flex: 3;
    border: 1px solid #999;
    background: white;
}

.items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 40px 40px;
    gap: 20px;
}

.item-card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 150px;
    background: #fff;
}

.img-placeholder {
    width: 100%;
    height: 80px;
    background: #ddd;
    margin-bottom: 10px;
}

.found-form {
    flex: 1;
    border: 1px solid #999;
    background: white;
}

.found-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

.found-form input {
    padding: 8px;
    border: 1px solid #ccc;
}

.found-form button {
    padding: 8px;
    border: 1px solid #999;
    background: #eee;
    cursor: pointer;
}

footer {
    background-color: #cbcbcb;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

.footer {
    color: black;
    text-decoration: none;
}

.footer_text {
    font-family: 'poppins';
    padding: 10px;
}